@page
@using Microsoft.Extensions.Localization
@using Account.Localization
@using Account.Web.Pages.Account
@model Account.Web.Pages.Account.IndexModel
@inject IStringLocalizer<AccountResource> L

@{
}
<h1>Account</h1>
<p>@L["SamplePageMessage"]</p>
