@page
@using Microsoft.Extensions.Localization
@using Identity.Localization
@using Identity.Web.Pages.Identity
@model Identity.Web.Pages.Identity.IndexModel
@inject IStringLocalizer<IdentityResource> L

@{
}
<h1>Identity</h1>
<p>@L["SamplePageMessage"]</p>
